// footer styles
.footer {
    color: white;
    padding: 25px 0;    
    background: $very-dark-green;

    @media only screen and (min-width: 768px) {
        padding: 70px 0;
    }

    .wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    a {
        color: white;
    }

    .footer__logo-container {

        .footer__logo {
            max-width: 30px;

            @media only screen and (min-width: 768px) {
                max-width: 48px;
            }
        }
    }

    .footer-links {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;

        .footer-nav__list-item {

            @media only screen and (min-width: 768px) {
                display: inline-block;
            }
        }

        .footer-nav__item {
            display: inline-block;
            font-family: $montserrat;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $off-white-two;
            text-decoration: none;
            padding: 15px 30px;
            font-size: 14px;

            @media only screen and (min-width: 768px) {
                font-size: 18px;
            }

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }

    .footer__app-callouts {
        text-align: right;

        .app-callout {
            display: block;

            @media only screen and (min-width: 768px) {
                display: inline-block;
            }

            & + .app-callout {
                padding-left: 10px;
            }
        }
    }
}