// navigation styles
.navigation__list {
    margin: 0;
    padding-top: 100px;
    list-style-type: none;

    @media only screen and (min-width: 980px) {
        padding: 0;   
    }
}

.navigation__list-item {

    @media only screen and (min-width: 980px) {
        display: inline-block;
    }
}

    .navigation__item {
        display: inline-block;
        font-family: GothamHTF;
        font-weight: 500;
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $off-white;
        text-transform: uppercase;
        position: relative;

        @media only screen and (min-width: 786px) {
            padding: 25px 30px;
        }

        &::after {

            @media only screen and (min-width: 980px) {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: -18px;
                width: 100%;
                height: 3px;
                background: transparent;
            }
        }

        &.active,
        &:hover,
        &:focus {
            text-decoration: none;
        }

        &.button {
            border: 3px solid $tea-two;
            padding: 25px 30px;
            font-weight: 500;
            font-size: 16px;

            body:not(.layout-home) & {
                border: 3px solid $sandy;
            }
        }

        &.navigation__item--FAQ {

            body.page--frequently-asked-questions & {

                &::after {
                    background: $sandy;
                }
            }
        }

        &.navigation__item--Support {

            body.page--support & {

                &::after {
                    background: $sandy;
                }
            }
        }
    }