// navigation styles
.navigation__list {
    margin: 0;
    padding-top: 100px;
    list-style-type: none;

    @media only screen and (min-width: 980px) {
        padding: 0;   
    }
}

.navigation__list-item {

    @media only screen and (min-width: 980px) {
        display: inline-block;
    }
}

    .navigation__item {
        display: inline-block;
        color: $steel;
        font-weight: $fwThin;
        font-size: 34px;
        transition: all 0.2s;
        position: relative;
        line-height: 1.7;

        @media only screen and (min-width: 980px) {
            font-weight: $fwBold;
            font-size: 20px;
            padding: 10px 20px;
        }

        &::after {

            @media only screen and (min-width: 980px) {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 5px;
                background: transparent;
            }
        }

        &.active,
        &:hover,
        &:focus {
            text-decoration: none;
            color: $red;
        }

        &.active {

            &::after {

                @media only screen and (min-width: 980px) {
                    opacity: 0.1;
                    background-color: var(--faded-red);
                }
            }
        }
    }