.page--frequently-asked-questions {

    .ui-accordion {

        .ui-icon {
            display: none;
        }

        .ui-accordion-header {
            font-family: GothamHTF;
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $very-dark-green-two;
            background: none;
            border: none;
            padding: 40px 60px 40px 25px;
            border-bottom: 1px solid $pinkish-grey;
            position: relative;

            &:last-of-type {
                border-bottom: none;
            }

            &::before,
            &::after {
                display: block;
                width: 24px;
                height: 1px;
                content: "";
                position: absolute;
                top: 50%;
                right: 25px;
                transform: translateY(-50%);
                background: $very-dark-green-two;
            }

            &::after {
                transform: rotate(90deg);
            }

            &.ui-state-active {
                border-bottom: none;

                &::after {
                    width: 0px;
                }
            }
        }

        .ui-accordion-content {
            padding-top: 0;
            padding-bottom: 40px;
            border: none;
            overflow: hidden;

            &.ui-accordion-content-active {
                border-bottom: 1px solid $pinkish-grey;

                &:last-of-type {
                    border-bottom: none;
                }
            }
        }
    }
}