$grey: #90a19c;
$steel: #72837e;
$bodyColor: #546560;
$orange: #e49e52;
$white: #ffffff;
$red: #d74247;
$blue: #cce1db;

:root {
  --cool-grey: #90a19c;
  --faded-orange: #e49e52;
  --white: #ffffff;
  --faded-red: #d74247;
  --cloudy-blue: #cce1db;
  --steel-grey: #72837e;
  --gunmetal: #546560;
}