$very-dark-green: #152b04;
$off-white: #fffff9;
$tea: #65a772;
$tea-two: #67a674;
$very-dark-green-two: #142c02;
$off-white-two: #fffff8;
$sandy: #f3c486;
$white: #d7d7d7;

:root {
  --very-dark-green: #152b04;
  --off-white: #fffff9;
  --tea: #65a772;
  --tea-two: #67a674;
  --very-dark-green-two: #142c02;
  --off-white-two: #fffff8;
  --sandy: #f3c486;
  --white: #d7d7d7;
}