$fwThin: 300;
$fwRegular: 400;
$fwBold: 700;

@font-face {
    font-family: 'GothamHTF';
    src: url('../../fonts/gothamhtf_light-webfont.woff2') format('woff2'),
         url('../../fonts/gothamhtf_light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}


@font-face {
    font-family: 'GothamHTF';
    src: url('../../fonts/gothamhtf_medium-webfont.woff2') format('woff2'),
         url('../../fonts/gothamhtf_medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'GothamHTF';
    src: url('../../fonts/gothamhtf_mediumcondensed-webfont.woff2') format('woff2'),
         url('../../fonts/gothamhtf_mediumcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamHTF';
    src: url('../../fonts/gothamhtf-black-webfont.woff2') format('woff2'),
         url('../../fonts/gothamhtf-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'GothamHTF';
    src: url('../../fonts/gothamhtf-bold-webfont.woff2') format('woff2'),
         url('../../fonts/gothamhtf-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamHTF';
    src: url('../../fonts/gothamhtf-book-webfont.woff2') format('woff2'),
         url('../../fonts/gothamhtf-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}